// chef
.chef{
    background-color: black;
    height: fit-content;
    color: white;

    p{
        ;
        font-family: "font";
        font-size: 50px;
    }
}
@media screen and (min-width:426px) and (max-width:1023px) {
    
.chef{
    div{
        width: 20%;
    }
    img{
        
    }
}
        p{
            font-size: 30px;
        }
}

    